.notification {
    position: relative;
    width: 25px;
    height: 25px;
    display: inline-block;
    background-color: $red;
    border-radius: 50%;
    left: -5px;
    top: 5px;

    span {
        position: absolute;   
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $white;
    }
}