.navbar {
    padding: $gutterSm 0;

    .navbar-toggler {
        .navbar-toggler-icon {
            background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat;
    
        }
    }

    .container {
        @media screen and (max-width: $xl) {
            justify-content: center;
        }
    }

    .navbar-nav {
        width: 100%;
        justify-content: space-between;
        .nav-item {
            font-weight: $bold;

            &.active {
                a {
                    color: $red;
                }
            }

            i {
                color: $red;
            }
    
            a {
                color: $nero;
                font-size: 1.125rem;
            }

            .dropdown-toggle {
                &::after {
                    display: none;
                }
            }
        }
    }
    
    @media only screen and (max-width: $xl) {
        padding-left: 15px;
        padding-right: 15px;
    }
}