$veryLightGrey: #cbcbcb;
$nightRider: #353535;
$red: #e4474a;
$white: #fff;
$whisper: #eaeaea;
$silentWhisper: #ededed;
$silent: #d7d8d9;
$nero: #272727;
$linkWater: #d7d8d9;
$charcol: #484848;
$zambezi: #5a5a5a;
$darkGray: #a7a7a7;
$suvaGray: #929292;
$gray97: #f7f7f7;
$gray72: #b8b8b8;
$eclipse: #3d3d3d;
$eclipse: #eeeeee;
$dimGray: #727272;

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

$gutterXl: 125px;
$gutterLg: 100px;
$gutterMd: 50px;
$gutterSm: 30px;
$gutterXS: 20px;

$xs: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;